.relative{
    position: relative;
}

.same1{
    height: 150px;
    width: 200px;
    background-color: green;
}
.same2{
    height: 150px;
    width: 200px;
    background-color: red;
    position: relative;
    left: 350px;
    top:0px;
}
.same3{
    height: 150px;
    width: 200px;
    position: absolute;
    left: 230px;
    top: 0px;
    background-color: aquamarine;
    
}
.same4{
    height: 150px;
    width: 200px;
    position: sticky;
    left: 90px;
    top: 100px;
    background-color: blue;
    
}
.same5{
    height: 150px;
    width: 150px;
    border: 2px solid red;
}
.same6{
    position: fixed;
    right: 0;
    top: 100px;
}
.same8{
    height: 150px;
    width: 200px;
    background-color: green;
}
.same9{
    height: 150px;
    width: 200px;
    background-color: aquamarine;
}
.same10{
    height: 150px;
    width: 200px;
    position: absolute;
    left: 90px;
    background-color: blue;
    z-index: -200;
}
.same11{
    height: 150px;
    width: 200px;
    background-color: red;
    z-index: 100;
}